#graph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin: 0 auto;
}

* { overflow: visible; }

.node rect {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node2 {
    cursor: move;
    fill: #ccc;
    stroke: #000;
    stroke-width: 1.5px;
}

