body {
    font-family: Palatino, 'Palatino Linotype', 'Hoefler Text', Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

#graph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%; 
    height: 90%;
    margin: 0 auto;
}

#main-svg {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.link {
}

.node-text {
    fill: #000;
}
