<p>A Bundled Edge View of the Github Event Graph</p>
<p><small>This perspective shows the sequential action probabilites of an Actor. Note the presence of GistEvents. Github no longer produces GistEvents, but their history remains. Eventually they will have no signficant probability in the markov matrix and will vanish from the event graph.</p><p><a href="python.html">Here</a> is a graph calculated from repositories using Python.</small></p>
<p><small>The graph can be zoomed and panned. The bundling parameter can be adjusted with this slider:</small></p>
<p><input type="range" min="0" max="100"></p>
